{% extends "index.html" %}

{% block title %} Import Journals File {% endblock %}

{% block body %}
    <form action="/journal/import/" method="post" enctype="multipart/form-data">
        <progress id="uploadprogress" min="0" max="100" value="0">0</progress>
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="application/javascript" src="{{ url_for("static", filename="js/app/journal.js") }}"></script>
{% endblock %}
