<div class="form-inline">
    <div class="form-group">
        <label class="sr-only">Key Words</label>
        <input type="email" class="form-control" id="key_words" placeholder="Key Words">
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox"> Level 1
            <input type="checkbox"> Level 2
            <input type="checkbox"> Level 3
            <input type="checkbox"> Level 4
            <input type="checkbox"> Level 5
        </label>
    </div>

    <button type="button" id="search" class="btn btn-default">Search</button>
</div>
